body, input, code {
  font-family: "Roboto Mono", "LXGW WenKai Screen"; }

.site-title, h1, h2, h3, h4, h5, h6, dt {
  font-family: "Fira Code", "LXGW WenKai Screen"; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-user-drag: none; }

body, input, button {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

::selection {
  color: #000;
  background-color: #CCE2FF; }

a {
  color: #2385d5;
  word-break: break-word;
  text-decoration: none;
  -webkit-user-drag: auto; }
  a:hover {
    color: #016593; }

ul {
  list-style: disc; }

hr {
  border: none;
  border-bottom: 1px solid #e3e5e8; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes glow {
  from {
    background-position: 0; }
  to {
    background-position: 1000%; } }

html {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizelegibility;
  overflow-y: scroll; }

body {
  margin: 0 auto;
  background: #f9fafb; }

.LBody {
  display: flex;
  justify-content: center; }
  .LBody > .Side {
    z-index: 8;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    margin-right: 1rem; }
    .LBody > .Side .mobile.topic, .LBody > .Side .header .topic, .header .LBody > .Side .topic {
      display: flex;
      --sz: 50px; }
      .LBody > .Side .mobile.topic a.avatar, .LBody > .Side .header .topic a.avatar, .header .LBody > .Side .topic a.avatar {
        will-change: transform;
        border-radius: 100%;
        width: var(--sz);
        height: var(--sz);
        flex: 0 0 var(--sz);
        overflow: hidden;
        margin-right: 1rem; }
        .LBody > .Side .mobile.topic a.avatar div.bg, .LBody > .Side .header .topic a.avatar div.bg, .header .LBody > .Side .topic a.avatar div.bg {
          -moz-transition: opacity 0.2s ease;
          -webkit-transition: opacity 0.2s ease;
          -o-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
          position: absolute;
          z-index: -1;
          width: var(--sz);
          height: var(--sz); }
          .LBody > .Side .mobile.topic a.avatar div.bg.rainbow, .LBody > .Side .header .topic a.avatar div.bg.rainbow, .header .LBody > .Side .topic a.avatar div.bg.rainbow {
            opacity: 0;
            background-size: cover; }
          .LBody > .Side .mobile.topic a.avatar div.bg.shadow, .LBody > .Side .header .topic a.avatar div.bg.shadow, .header .LBody > .Side .topic a.avatar div.bg.shadow {
            border-radius: 100%;
            background: #e3e5e8; }
        .LBody > .Side .mobile.topic a.avatar img.avatar, .LBody > .Side .header .topic a.avatar img.avatar, .header .LBody > .Side .topic a.avatar img.avatar {
          border-radius: 100%;
          margin: 2px;
          width: calc(100% - 4px);
          height: calc(100% - 4px);
          background-color: white; }
        .LBody > .Side .mobile.topic a.avatar:hover div.bg.rainbow, .LBody > .Side .header .topic a.avatar:hover div.bg.rainbow, .header .LBody > .Side .topic a.avatar:hover div.bg.rainbow {
          opacity: 1;
          animation: rotate 2.5s infinite linear; }
      .LBody > .Side .mobile.topic a.title, .LBody > .Side .header .topic a.title, .header .LBody > .Side .topic a.title {
        flex-grow: 1;
        position: relative;
        white-space: nowrap; }
        .LBody > .Side .mobile.topic a.title .site-title, .LBody > .Side .header .topic a.title .site-title, .header .LBody > .Side .topic a.title .site-title {
          font-size: 27px;
          font-weight: bold;
          color: #000;
          line-height: 2rem; }
        .LBody > .Side .mobile.topic a.title .sub, .LBody > .Side .header .topic a.title .sub, .header .LBody > .Side .topic a.title .sub {
          -moz-transition: transform, opacity, 0.2s ease-out;
          -webkit-transition: transform, opacity, 0.2s ease-out;
          -o-transition: transform, opacity, 0.2s ease-out;
          transition: transform, opacity, 0.2s ease-out;
          font-size: 13px;
          color: #4d4d4d;
          line-height: 1rem;
          position: absolute;
          white-space: nowrap; }
          .LBody > .Side .mobile.topic a.title .sub.dw, .LBody > .Side .header .topic a.title .sub.dw, .header .LBody > .Side .topic a.title .sub.dw {
            transform: translateY(8px);
            opacity: 0; }
        .LBody > .Side .mobile.topic a.title:hover .dw, .LBody > .Side .header .topic a.title:hover .dw, .header .LBody > .Side .topic a.title:hover .dw {
          transform: translateY(0);
          opacity: 1; }
        .LBody > .Side .mobile.topic a.title:hover .up, .LBody > .Side .header .topic a.title:hover .up, .header .LBody > .Side .topic a.title:hover .up {
          transform: translateY(-8px);
          opacity: 0; }
    .LBody > .Side .header {
      margin: 1rem;
      margin-top: 2rem; }
      .LBody > .Side .header .back {
        font-size: 13px;
        color: #4d4d4d;
        display: block;
        margin-bottom: .5rem; }
        .LBody > .Side .header .back span {
          display: inline-block;
          vertical-align: 3px; }
        .LBody > .Side .header .back:hover {
          color: #f53900; }
      .LBody > .Side .header .menu {
        border: 1px solid #e3e5e8;
        border-radius: 4px;
        z-index: 999;
        margin: 1rem 0 0 0;
        background: #f1f2f3;
        display: flex; }
        .LBody > .Side .header .menu .nav-item {
          font-size: 14px;
          color: #808080;
          border-radius: 4px;
          flex-grow: 1;
          text-overflow: ellipsis;
          padding: .375rem .5rem;
          margin: 1px;
          overflow: hidden;
          text-align: center; }
          .LBody > .Side .header .menu .nav-item.active, .LBody > .Side .header .menu .nav-item:hover {
            color: #333;
            background: #ffffff;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.04), 0 0 8px 0 rgba(0, 0, 0, 0.04); }
          .LBody > .Side .header .menu .nav-item + .nav-item {
            margin-right: .5px; }
    .LBody > .Side .footer {
      margin: 1rem; }
      .LBody > .Side .footer .social {
        display: flex; }
        .LBody > .Side .footer .social .box {
          margin-right: .7rem; }
          .LBody > .Side .footer .social .box img {
            -moz-transition: opacity 0.15s;
            -webkit-transition: opacity 0.15s;
            -o-transition: opacity 0.15s;
            transition: opacity 0.15s;
            width: 20px;
            height: 20px;
            opacity: .6; }
            .LBody > .Side .footer .social .box img:hover {
              opacity: 1; }
    .LBody > .Side .widgets {
      overflow: hidden scroll;
      flex-grow: 1;
      z-index: -1;
      line-height: 1.2;
      padding: 0 1rem; }
      .LBody > .Side .widgets::-webkit-scrollbar {
        height: 0;
        width: 0; }
      .LBody > .Side .widgets > .widget {
        display: block; }
        .LBody > .Side .widgets > .widget > .title {
          font-size: 13.6px;
          color: #2385d5;
          margin-top: 2rem;
          margin-bottom: 1rem; }
        .LBody > .Side .widgets > .widget:first-of-type > .title {
          margin-top: 1rem; }
        .LBody > .Side .widgets > .widget.search {
          margin-top: 0; }
          .LBody > .Side .widgets > .widget.search .search-form {
            top: 0;
            position: -webkit-sticky;
            position: sticky;
            display: flex;
            align-items: center;
            z-index: 999;
            background: #f9fafb; }
            .LBody > .Side .widgets > .widget.search .search-form .search-input {
              border: none;
              width: 100%;
              padding: .5rem 0 .5rem 1.5rem;
              color: #000;
              background: none; }
            .LBody > .Side .widgets > .widget.search .search-form .search-icon {
              position: absolute;
              width: 1rem;
              height: 1rem;
              left: 0;
              margin-left: .25rem;
              vertical-align: middle;
              opacity: .7; }
            .LBody > .Side .widgets > .widget.search .search-form::after {
              will-change: transform;
              border-radius: 4px;
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              height: 2px;
              background: linear-gradient(to right, #04f3ff, #08ffc6, #ddf730, #ffbd19, #ff1fe0, #c418ff, #04f3ff);
              background-size: 200%;
              animation: glow 20s linear infinite; }
        .LBody > .Side .widgets > .widget.notice .content {
          font-size: 14px;
          color: #333; }
          .LBody > .Side .widgets > .widget.notice .content > ul, .LBody > .Side .widgets > .widget.notice .content ol {
            margin-left: 1rem; }
        .LBody > .Side .widgets > .widget.recent .content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin: 1rem 0; }
          .LBody > .Side .widgets > .widget.recent .content .item {
            font-size: 13.6px;
            color: #4d4d4d;
            border-bottom: 1px dashed #ccc;
            margin-bottom: .5rem;
            padding-bottom: 2px; }
            .LBody > .Side .widgets > .widget.recent .content .item:hover {
              color: #f53900;
              border-color: #f53900; }
        .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul, .LBody > .Side .widgets > .widget.tree .item #TableOfContents, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul, .LBody > .Side .widgets > .widget.toc .content ul {
          line-height: 1.2;
          margin-left: 0;
          padding-left: .5rem;
          position: relative; }
          .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul::after, .LBody > .Side .widgets > .widget.tree .item #TableOfContents::after, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul::after, .LBody > .Side .widgets > .widget.toc .content ul::after {
            will-change: transform;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 1.5px;
            background: #e3e5e8; }
          .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul ul, .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul ul, .LBody > .Side .widgets > .widget.toc .content ul ul {
            margin-left: 1rem; }
          .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul li, .LBody > .Side .widgets > .widget.tree .item #TableOfContents li, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul li, .LBody > .Side .widgets > .widget.toc .content ul li {
            list-style: none;
            margin: 0; }
            .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul li a, .LBody > .Side .widgets > .widget.tree .item #TableOfContents li a, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul li a, .LBody > .Side .widgets > .widget.toc .content ul li a {
              font-size: 13.6px;
              color: #4d4d4d;
              border-radius: 4px;
              display: block;
              position: relative;
              width: 100%;
              padding: 5px 8px; }
              .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul li a:hover, .LBody > .Side .widgets > .widget.tree .item #TableOfContents li a:hover, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul li a:hover, .LBody > .Side .widgets > .widget.toc .content ul li a:hover {
                background: #e3e5e8;
                color: #333;
                text-decoration: none; }
              .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul li a.active, .LBody > .Side .widgets > .widget.tree .item #TableOfContents li a.active, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul li a.active, .LBody > .Side .widgets > .widget.toc .content ul li a.active {
                color: #2385d5; }
                .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul li a.active::after, .LBody > .Side .widgets > .widget.tree .item #TableOfContents li a.active::after, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul li a.active::after, .LBody > .Side .widgets > .widget.toc .content ul li a.active::after {
                  will-change: transform;
                  border-radius: 4px;
                  content: "";
                  z-index: 1;
                  position: absolute;
                  top: 4px;
                  bottom: 4px;
                  left: -8.5px;
                  width: 3px;
                  background: #2385d5; }
        .LBody > .Side .widgets > .widget.toc .content {
          padding-left: 2px; }
        .LBody > .Side .widgets > .widget.tree {
          margin-top: 2rem; }
          .LBody > .Side .widgets > .widget.tree .item {
            border: 1px solid #e3e5e8;
            border-radius: 4px;
            margin: 4px 0;
            background: #f1f2f3;
            overflow: hidden; }
            .LBody > .Side .widgets > .widget.tree .item > .title {
              font-size: 12px;
              color: #4d4d4d;
              padding: .5rem .7rem;
              display: block;
              position: relative; }
              .LBody > .Side .widgets > .widget.tree .item > .title::after {
                content: "+";
                float: right;
                display: none; }
              .LBody > .Side .widgets > .widget.tree .item > .title:hover {
                cursor: pointer;
                background: #e3e5e8; }
                .LBody > .Side .widgets > .widget.tree .item > .title:hover::after {
                  display: block; }
            .LBody > .Side .widgets > .widget.tree .item > .inner > .list {
              border-top: 1px solid #e3e5e8;
              padding: 4px;
              background: #ffffff; }
              .LBody > .Side .widgets > .widget.tree .item > .inner > .list > :last-child .item {
                margin-bottom: 0; }
              .LBody > .Side .widgets > .widget.tree .item > .inner > .list > li {
                list-style: none; }
                .LBody > .Side .widgets > .widget.tree .item > .inner > .list > li > a {
                  font-size: 13px;
                  color: #4d4d4d;
                  border-radius: 4px;
                  display: block;
                  position: relative;
                  width: 100%;
                  padding: 5px 8px; }
                  .LBody > .Side .widgets > .widget.tree .item > .inner > .list > li > a:hover {
                    background: #e3e5e8;
                    color: #333;
                    text-decoration: none; }
                  .LBody > .Side .widgets > .widget.tree .item > .inner > .list > li > a.active {
                    color: #2385d5; }
            .LBody > .Side .widgets > .widget.tree .item[open] > .title {
              font-weight: bold; }
              .LBody > .Side .widgets > .widget.tree .item[open] > .title::after {
                content: "-"; }
            .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul, .LBody > .Side .widgets > .widget.tree .item #TableOfContents #TableOfContents, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul, .LBody > .Side .widgets > .widget.tree .item #TableOfContents .widgets > .widget.toc .content ul, .LBody > .Side .widgets > .widget.toc .content .widgets > .widget.tree .item #TableOfContents ul {
              line-height: 1.2;
              margin-left: 0;
              padding-left: .5rem;
              position: relative; }
              .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul::after, .LBody > .Side .widgets > .widget.tree .item #TableOfContents #TableOfContents::after, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul::after, .LBody > .Side .widgets > .widget.tree .item #TableOfContents .widgets > .widget.toc .content ul::after, .LBody > .Side .widgets > .widget.toc .content .widgets > .widget.tree .item #TableOfContents ul::after {
                will-change: transform;
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 1.5px;
                background: #e3e5e8; }
              .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul ul, .LBody > .Side .widgets > .widget.tree .item #TableOfContents #TableOfContents ul, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul ul, .LBody > .Side .widgets > .widget.tree .item #TableOfContents .widgets > .widget.toc .content ul ul, .LBody > .Side .widgets > .widget.toc .content .widgets > .widget.tree .item #TableOfContents ul ul {
                margin-left: 1rem; }
              .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul li, .LBody > .Side .widgets > .widget.tree .item #TableOfContents #TableOfContents li, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul li, .LBody > .Side .widgets > .widget.tree .item #TableOfContents .widgets > .widget.toc .content ul li, .LBody > .Side .widgets > .widget.toc .content .widgets > .widget.tree .item #TableOfContents ul li {
                list-style: none;
                margin: 0; }
                .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul li a, .LBody > .Side .widgets > .widget.tree .item #TableOfContents #TableOfContents li a, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul li a, .LBody > .Side .widgets > .widget.tree .item #TableOfContents .widgets > .widget.toc .content ul li a, .LBody > .Side .widgets > .widget.toc .content .widgets > .widget.tree .item #TableOfContents ul li a {
                  font-size: 13.6px;
                  color: #4d4d4d;
                  border-radius: 4px;
                  display: block;
                  position: relative;
                  width: 100%;
                  padding: 5px 8px; }
                  .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul li a:hover, .LBody > .Side .widgets > .widget.tree .item #TableOfContents #TableOfContents li a:hover, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul li a:hover, .LBody > .Side .widgets > .widget.tree .item #TableOfContents .widgets > .widget.toc .content ul li a:hover, .LBody > .Side .widgets > .widget.toc .content .widgets > .widget.tree .item #TableOfContents ul li a:hover {
                    background: #e3e5e8;
                    color: #333;
                    text-decoration: none; }
                  .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul li a.active, .LBody > .Side .widgets > .widget.tree .item #TableOfContents #TableOfContents li a.active, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul li a.active, .LBody > .Side .widgets > .widget.tree .item #TableOfContents .widgets > .widget.toc .content ul li a.active, .LBody > .Side .widgets > .widget.toc .content .widgets > .widget.tree .item #TableOfContents ul li a.active {
                    color: #2385d5; }
                    .LBody > .Side .widgets > .widget.tree .item #TableOfContents ul li a.active::after, .LBody > .Side .widgets > .widget.tree .item #TableOfContents #TableOfContents li a.active::after, .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content ul li a.active::after, .LBody > .Side .widgets > .widget.tree .item #TableOfContents .widgets > .widget.toc .content ul li a.active::after, .LBody > .Side .widgets > .widget.toc .content .widgets > .widget.tree .item #TableOfContents ul li a.active::after {
                      will-change: transform;
                      border-radius: 4px;
                      content: "";
                      z-index: 1;
                      position: absolute;
                      top: 4px;
                      bottom: 4px;
                      left: -8.5px;
                      width: 3px;
                      background: #2385d5; }
            .LBody > .Side .widgets > .widget.tree .item #TableOfContents.toc .content {
              padding-left: 2px; }
            .LBody > .Side .widgets > .widget.tree .item #TableOfContents a {
              font-size: 13px !important; }
            .LBody > .Side .widgets > .widget.tree .item #TableOfContents::after {
              display: none; }
  .LBody > .Main {
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    width: 0;
    max-width: 720px; }
    .LBody > .Main > .search .search-form {
      position: relative;
      display: flex;
      align-items: center;
      z-index: 999;
      background: #f9fafb; }
      .LBody > .Main > .search .search-form .search-input {
        border: none;
        width: 100%;
        padding: .5rem 0 .5rem 1.5rem;
        color: #000;
        background: none; }
      .LBody > .Main > .search .search-form .search-icon {
        position: absolute;
        width: 1rem;
        height: 1rem;
        left: 0;
        margin-left: .25rem;
        vertical-align: middle;
        opacity: .7; }
      .LBody > .Main > .search .search-form::after {
        will-change: transform;
        border-radius: 4px;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background: linear-gradient(to right, #04f3ff, #08ffc6, #ddf730, #ffbd19, #ff1fe0, #c418ff, #04f3ff);
        background-size: 200%;
        animation: glow 20s linear infinite; }
    .LBody > .Main > .search .search-result .item {
      font-size: 15px;
      display: block; }
      .LBody > .Main > .search .search-result .item > :first-child {
        margin-top: 0 !important; }
        .LBody > .Main > .search .search-result .item > :first-child > :first-child {
          margin-top: 0 !important; }
          .LBody > .Main > .search .search-result .item > :first-child > :first-child > :first-child {
            margin-top: 0 !important; }
            .LBody > .Main > .search .search-result .item > :first-child > :first-child > :first-child > :first-child {
              margin-top: 0 !important; }
      .LBody > .Main > .search .search-result .item > :last-child {
        margin-bottom: 0 !important; }
        .LBody > .Main > .search .search-result .item > :last-child > :last-child {
          margin-bottom: 0 !important; }
          .LBody > .Main > .search .search-result .item > :last-child > :last-child > :last-child {
            margin-bottom: 0 !important; }
            .LBody > .Main > .search .search-result .item > :last-child > :last-child > :last-child > :last-child {
              margin-bottom: 0 !important; }
      .LBody > .Main > .search .search-result .item .preview {
        font-size: 13px;
        color: #999;
        margin-top: .2rem;
        height: 3.75rem;
        overflow: hidden; }
        .LBody > .Main > .search .search-result .item .preview .key {
          background: yellow; }
      .LBody > .Main > .search .search-result .item.summary {
        font-size: 13px;
        color: #2385d5;
        margin-top: 1.5rem;
        width: 100%; }
    .LBody > .Main > .search .sec_tabs {
      background: #f9fafb;
      z-index: 999; }
      .LBody > .Main > .search .sec_tabs .nav {
        font-size: 13px;
        color: #808080;
        display: flex;
        justify-content: center;
        position: relative;
        padding: .5rem 1rem;
        overflow: scroll hidden; }
        .LBody > .Main > .search .sec_tabs .nav::-webkit-scrollbar {
          height: 0;
          width: 0; }
        .LBody > .Main > .search .sec_tabs .nav .tab {
          border-radius: 4px;
          padding: 0 1rem;
          line-height: 2.2;
          color: #808080;
          white-space: nowrap;
          position: relative;
          cursor: pointer;
          z-index: 1; }
          .LBody > .Main > .search .sec_tabs .nav .tab.active {
            color: #333;
            background: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; }
          .LBody > .Main > .search .sec_tabs .nav .tab:not(.active):hover {
            color: #000;
            background: #e9eaec; }
          .LBody > .Main > .search .sec_tabs .nav .tab + .tab {
            margin-left: .5rem; }
    .LBody > .Main .tabs {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background: #f9fafb;
      z-index: 999; }
      .LBody > .Main .tabs:after {
        border-radius: 4px;
        content: '';
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 1rem;
        right: 1rem;
        background: #e9eaec; }
      .LBody > .Main .tabs .nav {
        font-size: 13px;
        color: #808080;
        display: flex;
        position: relative;
        margin-top: 1.5rem;
        padding: .5rem 1rem;
        overflow: scroll hidden; }
        .LBody > .Main .tabs .nav::-webkit-scrollbar {
          height: 0;
          width: 0; }
        .LBody > .Main .tabs .nav .tab {
          border-radius: 4px;
          padding: 0 1rem;
          line-height: 2.2;
          color: #808080;
          white-space: nowrap;
          position: relative;
          z-index: 1; }
          .LBody > .Main .tabs .nav .tab.active {
            color: #333;
            background: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; }
            .LBody > .Main .tabs .nav .tab.active::after {
              border-radius: 4px;
              content: '';
              pointer-events: none;
              cursor: default;
              height: 2px;
              position: absolute;
              bottom: -.5rem;
              left: 1rem;
              right: 1rem;
              background: #1cd0fd; }
          .LBody > .Main .tabs .nav .tab:not(.active):hover {
            color: #000;
            background: #e9eaec; }
          .LBody > .Main .tabs .nav .tab + .tab {
            margin-left: .5rem; }
    .LBody > .Main > .posts, .LBody > .Main > .projects {
      margin: 1rem; }
      .LBody > .Main > .posts .post, .LBody > .Main > .projects .post {
        display: block; }
      .LBody > .Main > .posts .card, .LBody > .Main > .projects .card {
        border-radius: 6px;
        -moz-transition: box-shadow 0.1s ease-out;
        -webkit-transition: box-shadow 0.1s ease-out;
        -o-transition: box-shadow 0.1s ease-out;
        transition: box-shadow 0.1s ease-out;
        background: #ffffff;
        margin: 1rem 0;
        padding: 1rem;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.04), 0 0 8px 0 rgba(0, 0, 0, 0.04); }
        .LBody > .Main > .posts .card .title, .LBody > .Main > .projects .card .title {
          font-size: 22px;
          font-weight: normal;
          color: #000; }
        .LBody > .Main > .posts .card .description, .LBody > .Main > .projects .card .description {
          font-size: 15px;
          color: #4d4d4d;
          margin-top: .5rem; }
        .LBody > .Main > .posts .card .meta, .LBody > .Main > .projects .card .meta {
          font-size: 13px;
          color: #808080;
          margin-top: .5rem; }
        .LBody > .Main > .posts .card:hover, .LBody > .Main > .projects .card:hover {
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 16px 0 rgba(0, 0, 0, 0.1); }
    .LBody > .Main .projects .project {
      display: block; }
    .LBody > .Main .projects .card {
      display: flex;
      align-items: center; }
      .LBody > .Main .projects .card .preview {
        margin: 1rem;
        height: 5rem; }
        .LBody > .Main .projects .card .preview img {
          width: 12rem;
          height: 5rem; }
      .LBody > .Main .projects .card .excerpt {
        margin: 1rem; }
    .LBody > .Main .pages {
      border-radius: 6px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      background: #ffffff;
      padding: .25rem;
      margin: 1rem;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.04), 0 0 8px 0 rgba(0, 0, 0, 0.04);
      overflow: scroll hidden; }
      .LBody > .Main .pages::-webkit-scrollbar {
        height: 0;
        width: 0; }
      .LBody > .Main .pages .box {
        font-size: 16px;
        font-weight: bold;
        color: #2385d5;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        margin: 0 .5rem;
        padding: 4px 8px;
        min-width: 30px;
        background: #f1f2f3;
        white-space: nowrap; }
        .LBody > .Main .pages .box.prev {
          margin-left: 0; }
        .LBody > .Main .pages .box.next {
          margin-right: 0; }
        .LBody > .Main .pages .box.prev, .LBody > .Main .pages .box.next {
          background: none; }
          .LBody > .Main .pages .box.prev img, .LBody > .Main .pages .box.next img {
            width: 1rem;
            height: 100%;
            filter: grayscale(100%); }
        .LBody > .Main .pages .box.box.eldivpsis {
          width: 3rem; }
        .LBody > .Main .pages .box.disabled {
          color: #808080;
          cursor: default; }
          .LBody > .Main .pages .box.disabled img {
            opacity: .5; }
        .LBody > .Main .pages .box:not(.disabled):hover {
          color: #f53900; }
          .LBody > .Main .pages .box:not(.disabled):hover img {
            filter: grayscale(0); }
    .LBody > .Main .list {
      padding: 1rem; }
      .LBody > .Main .list .item {
        border-radius: 4px;
        display: block;
        padding: .5rem 1rem;
        color: #4d4d4d;
        line-height: 1; }
        .LBody > .Main .list .item img {
          width: 18px;
          height: 18px;
          margin-right: 3px;
          opacity: .7;
          vertical-align: text-bottom; }
        .LBody > .Main .list .item .type {
          font-size: 14px;
          font-weight: bold;
          margin-right: .5rem; }
        .LBody > .Main .list .item .title {
          font-size: 14px; }
        .LBody > .Main .list .item:not(.dir):hover {
          background: #e9eaec;
          color: #000; }
          .LBody > .Main .list .item:not(.dir):hover .count {
            color: #2385d5; }
        .LBody > .Main .list .item.dir {
          font-size: 14px;
          padding: .6rem 1rem;
          margin-bottom: .5rem;
          background: #ffffff;
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.04), 0 0 8px 0 rgba(0, 0, 0, 0.04);
          display: flex;
          line-height: 1.2; }
          .LBody > .Main .list .item.dir .seperator {
            margin: 0 1px; }
          .LBody > .Main .list .item.dir .subdir {
            color: #333; }
            .LBody > .Main .list .item.dir .subdir:hover {
              color: #2385d5;
              text-decoration: underline; }
      .LBody > .Main .list.categories .count {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        float: right;
        line-height: 1.4; }
      .LBody > .Main .list.tags {
        padding: calc(1rem - 4px); }
        .LBody > .Main .list.tags .card {
          -moz-transition: color, background, 0.1s;
          -webkit-transition: color, background, 0.1s;
          -o-transition: color, background, 0.1s;
          transition: color, background, 0.1s;
          border-radius: 4px;
          display: inline-flex;
          margin: 4px;
          padding: .4rem .75rem;
          background: #f1f2f3; }
          .LBody > .Main .list.tags .card span.sign {
            font-size: 14px;
            font-weight: bold;
            color: #999;
            padding-right: 3px; }
          .LBody > .Main .list.tags .card span.title {
            font-size: 13px;
            color: #4d4d4d; }
          .LBody > .Main .list.tags .card:hover {
            color: #000;
            background: #ffffff;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.04), 0 0 8px 0 rgba(0, 0, 0, 0.04); }
            .LBody > .Main .list.tags .card:hover .sign {
              color: #2385d5; }
    .LBody > .Main > .archive {
      margin: 0 1rem; }
      .LBody > .Main > .archive .year {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        padding: 2rem 1rem;
        padding-bottom: 0; }
      .LBody > .Main > .archive .month {
        font-size: 18px;
        font-weight: bold;
        color: #4d4d4d;
        padding: 2px 0; }
      .LBody > .Main > .archive > .group {
        margin: 1rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column; }
        .LBody > .Main > .archive > .group > .post {
          font-size: 14px;
          display: inline-block;
          margin: .25rem 0; }
          .LBody > .Main > .archive > .group > .post > .title {
            color: #333; }
          .LBody > .Main > .archive > .group > .post > .time {
            font-weight: bold;
            color: #999;
            margin-right: .5rem; }
          .LBody > .Main > .archive > .group > .post:hover > .title, .LBody > .Main > .archive > .group > .post:hover > .time {
            color: #f53900; }
    .LBody > .Main > .content {
      padding: 1rem;
      margin: 1rem 0 0 0; }
      .LBody > .Main > .content > :first-child {
        margin-top: 0 !important; }
        .LBody > .Main > .content > :first-child > :first-child {
          margin-top: 0 !important; }
          .LBody > .Main > .content > :first-child > :first-child > :first-child {
            margin-top: 0 !important; }
            .LBody > .Main > .content > :first-child > :first-child > :first-child > :first-child {
              margin-top: 0 !important; }
      .LBody > .Main > .content > :last-child {
        margin-bottom: 0 !important; }
        .LBody > .Main > .content > :last-child > :last-child {
          margin-bottom: 0 !important; }
          .LBody > .Main > .content > :last-child > :last-child > :last-child {
            margin-bottom: 0 !important; }
            .LBody > .Main > .content > :last-child > :last-child > :last-child > :last-child {
              margin-bottom: 0 !important; }
      .LBody > .Main > .content > .params {
        display: flex; }
        .LBody > .Main > .content > .params .categories, .LBody > .Main > .content > .params .tags {
          font-size: 13.6px; }
          .LBody > .Main > .content > .params .categories .param + .param, .LBody > .Main > .content > .params .tags .param + .param {
            margin-left: .5rem; }
        .LBody > .Main > .content > .params .categories + .tags::before {
          content: "/";
          margin: 0 .5rem;
          color: #808080; }
      .LBody > .Main > .content > .meta {
        font-size: 13.6px;
        color: #808080;
        margin-bottom: 1rem; }
      .LBody > .Main > .content > .description {
        color: #808080;
        display: block;
        margin-bottom: 1rem; }
      .LBody > .Main > .content > .title {
        line-height: 2.3rem;
        margin-bottom: .3rem; }
      .LBody > .Main > .content > .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch; }
        .LBody > .Main > .content > .cards .card {
          -moz-transition: box-shadow 0.2s;
          -webkit-transition: box-shadow 0.2s;
          -o-transition: box-shadow 0.2s;
          transition: box-shadow 0.2s;
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          width: calc(50% - .5rem);
          margin: .5rem 0;
          padding: 1rem;
          background: #ffffff;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; }
          .LBody > .Main > .content > .cards .card span {
            overflow: hidden; }
            .LBody > .Main > .content > .cards .card span.title {
              font-size: 16px;
              color: #000;
              margin-bottom: 2px; }
            .LBody > .Main > .content > .cards .card span.link {
              font-size: 13.5px;
              color: #999; }
          .LBody > .Main > .content > .cards .card:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; }
    .LBody > .Main > .footer {
      padding: 1rem; }
      .LBody > .Main > .footer > .sitemap {
        margin: .5rem 0;
        display: grid;
        grid-gap: 1rem 1rem;
        grid-auto-flow: column dense;
        overflow: scroll; }
        .LBody > .Main > .footer > .sitemap::-webkit-scrollbar {
          height: 0;
          width: 0; }
        .LBody > .Main > .footer > .sitemap > .group {
          display: flex;
          flex-direction: column;
          align-items: flex-start; }
          .LBody > .Main > .footer > .sitemap > .group > .title {
            font-size: 15px;
            color: #000;
            margin-bottom: .5rem; }
          .LBody > .Main > .footer > .sitemap > .group > .link {
            font-size: 13px;
            color: #808080;
            margin: 2px 0; }
            .LBody > .Main > .footer > .sitemap > .group > .link:hover {
              color: #f53900; }
      .LBody > .Main > .footer > .reference {
        font-size: 13px;
        text-align: center; }

.mobile.topic, .header .topic, .LBody > .Side .header .topic {
  display: flex;
  --sz: 50px; }
  .mobile.topic a.avatar, .header .topic a.avatar, .LBody > .Side .header .topic a.avatar {
    will-change: transform;
    border-radius: 100%;
    width: var(--sz);
    height: var(--sz);
    flex: 0 0 var(--sz);
    overflow: hidden;
    margin-right: 1rem; }
    .mobile.topic a.avatar div.bg, .header .topic a.avatar div.bg {
      -moz-transition: opacity 0.2s ease;
      -webkit-transition: opacity 0.2s ease;
      -o-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease;
      position: absolute;
      z-index: -1;
      width: var(--sz);
      height: var(--sz); }
      .mobile.topic a.avatar div.bg.rainbow, .header .topic a.avatar div.bg.rainbow {
        opacity: 0;
        background-size: cover; }
      .mobile.topic a.avatar div.bg.shadow, .header .topic a.avatar div.bg.shadow {
        border-radius: 100%;
        background: #e3e5e8; }
    .mobile.topic a.avatar img.avatar, .header .topic a.avatar img.avatar {
      border-radius: 100%;
      margin: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background-color: white; }
    .mobile.topic a.avatar:hover div.bg.rainbow, .header .topic a.avatar:hover div.bg.rainbow {
      opacity: 1;
      animation: rotate 2.5s infinite linear; }
  .mobile.topic a.title, .header .topic a.title, .LBody > .Side .header .topic a.title {
    flex-grow: 1;
    position: relative;
    white-space: nowrap; }
    .mobile.topic a.title .site-title, .header .topic a.title .site-title {
      font-size: 27px;
      font-weight: bold;
      color: #000;
      line-height: 2rem; }
    .mobile.topic a.title .sub, .header .topic a.title .sub {
      -moz-transition: transform, opacity, 0.2s ease-out;
      -webkit-transition: transform, opacity, 0.2s ease-out;
      -o-transition: transform, opacity, 0.2s ease-out;
      transition: transform, opacity, 0.2s ease-out;
      font-size: 13px;
      color: #4d4d4d;
      line-height: 1rem;
      position: absolute;
      white-space: nowrap; }
      .mobile.topic a.title .sub.dw, .header .topic a.title .sub.dw {
        transform: translateY(8px);
        opacity: 0; }
    .mobile.topic a.title:hover .dw, .header .topic a.title:hover .dw {
      transform: translateY(0);
      opacity: 1; }
    .mobile.topic a.title:hover .up, .header .topic a.title:hover .up {
      transform: translateY(-8px);
      opacity: 0; }

.header {
  margin: 1rem;
  margin-top: 2rem; }
  .header .back {
    font-size: 13px;
    color: #4d4d4d;
    display: block;
    margin-bottom: .5rem; }
    .header .back span {
      display: inline-block;
      vertical-align: 3px; }
    .header .back:hover {
      color: #f53900; }
  .header .menu {
    border: 1px solid #e3e5e8;
    border-radius: 4px;
    z-index: 999;
    margin: 1rem 0 0 0;
    background: #f1f2f3;
    display: flex; }
    .header .menu .nav-item {
      font-size: 14px;
      color: #808080;
      border-radius: 4px;
      flex-grow: 1;
      text-overflow: ellipsis;
      padding: .375rem .5rem;
      margin: 1px;
      overflow: hidden;
      text-align: center; }
      .header .menu .nav-item.active, .header .menu .nav-item:hover {
        color: #333;
        background: #ffffff;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.04), 0 0 8px 0 rgba(0, 0, 0, 0.04); }
      .header .menu .nav-item + .nav-item {
        margin-right: .5px; }

.mobile {
  display: none !important; }
  .mobile.sidebar-toggle {
    border-radius: 100%;
    -moz-transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    z-index: 1001;
    cursor: pointer;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    height: 40px;
    width: 40px;
    background: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.04), 0 0 8px 0 rgba(0, 0, 0, 0.04);
    box-sizing: content-box; }
    .mobile.sidebar-toggle img {
      width: 20px;
      height: 20px;
      margin: 10px; }
    .mobile.sidebar-toggle.layout {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 16px 0 rgba(0, 0, 0, 0.1); }
  .mobile.topic {
    padding: 2rem 1rem 0 1rem; }

@media screen and (max-width: 830px) {
  .projects .card {
    display: block !important;
    padding: 0 !important;
    overflow: auto; }
    .projects .card .preview img {
      display: block;
      margin: 0 auto;
      max-width: 100%; } }

@media screen and (max-width: 730px) {
  .mobile.sidebar-toggle {
    display: block !important; }
  .mobile.topic {
    display: flex !important; }
  .LBody {
    padding: 0; }
    .LBody > .Side {
      -moz-transition: transform 0.3s ease;
      -webkit-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;
      transition: transform 0.3s ease;
      position: fixed;
      left: -320px;
      margin: 0;
      background: #f9fafb;
      z-index: 1000;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 16px 0 rgba(0, 0, 0, 0.1); }
      .LBody > .Side.layout {
        transform: translateX(320px); }
    .LBody > .Main {
      width: 100%; }
      .LBody > .Main .tabs {
        top: -1px; }
        .LBody > .Main .tabs nav {
          margin-top: .5rem !important; } }

@media screen and (max-width: 500px) {
  .content .cards .card {
    width: 100% !important; } }

.markdown {
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
  font-size: 15.5px;
  line-height: 1.5; }
  .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    margin: 2rem 0 1rem 0; }
    .markdown h1 .anchor, .markdown h2 .anchor, .markdown h3 .anchor, .markdown h4 .anchor, .markdown h5 .anchor, .markdown h6 .anchor {
      opacity: 0;
      cursor: pointer; }
    .markdown h1:hover .anchor, .markdown h2:hover .anchor, .markdown h3:hover .anchor, .markdown h4:hover .anchor, .markdown h5:hover .anchor, .markdown h6:hover .anchor {
      opacity: 1; }
  .markdown h2 + h3, .markdown h3 + h4 {
    margin-top: 1rem; }
  .markdown h1 {
    font-size: 2rem; }
  .markdown h2 {
    font-size: 1.7rem;
    border-bottom: 1px solid #e3e5e8; }
  .markdown h3 {
    font-size: 1.25rem; }
  .markdown h4 {
    font-size: 1rem; }
  .markdown p {
    margin: 1rem 0; }
  .markdown dl {
    margin: 1rem 0; }
    .markdown dl dt {
      font-weight: bold; }
    .markdown dl dd {
      margin-bottom: 1rem; }
  .markdown ol, .markdown ul {
    margin: 1rem 0;
    margin-left: 2rem; }
    .markdown ol li, .markdown ul li {
      margin: .5rem 0; }
    .markdown ol ol, .markdown ol ul, .markdown ul ol, .markdown ul ul {
      margin: 0;
      margin-left: 1rem; }
  .markdown blockquote {
    border-left: 4px solid #999;
    color: #808080;
    margin: 1rem 0;
    padding: 0 1rem; }
    .markdown blockquote > :first-child {
      margin-top: 0 !important; }
      .markdown blockquote > :first-child > :first-child {
        margin-top: 0 !important; }
        .markdown blockquote > :first-child > :first-child > :first-child {
          margin-top: 0 !important; }
          .markdown blockquote > :first-child > :first-child > :first-child > :first-child {
            margin-top: 0 !important; }
    .markdown blockquote > :last-child {
      margin-bottom: 0 !important; }
      .markdown blockquote > :last-child > :last-child {
        margin-bottom: 0 !important; }
        .markdown blockquote > :last-child > :last-child > :last-child {
          margin-bottom: 0 !important; }
          .markdown blockquote > :last-child > :last-child > :last-child > :last-child {
            margin-bottom: 0 !important; }
  .markdown code {
    font-size: 90%;
    color: #333;
    border-radius: 2px;
    background: rgba(102, 178, 255, 0.15);
    padding: 0 4px; }
  .markdown pre {
    padding: .5rem 1rem;
    background: #f1f2f3 !important;
    overflow: auto;
    position: relative;
    line-height: 1.6; }
    .markdown pre code {
      border: none;
      background: none;
      padding: 0;
      color: #000; }
      .markdown pre code, .markdown pre code span {
        font-style: normal !important; }
      .markdown pre code span[id] {
        border-right: 1px solid #e3e5e8;
        padding-left: 3px !important;
        padding-right: 1rem !important;
        margin-right: .5rem !important; }
        .markdown pre code span[id] a {
          -moz-user-select: none;
          -webkit-user-select: none;
          user-select: none;
          pointer-events: none; }
  .markdown .highlight {
    border-radius: 2px;
    margin: 1rem 0;
    position: relative;
    overflow: hidden; }
    .markdown .highlight[wrap=true] pre {
      white-space: break-spaces;
      word-break: break-word; }
    .markdown .highlight:hover .clipboard img {
      opacity: .3; }
    .markdown .highlight .clipboard {
      width: 1.2rem;
      height: 1.2rem;
      display: flex;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      box-sizing: content-box; }
      .markdown .highlight .clipboard img {
        -moz-transition: opacity 0.15s;
        -webkit-transition: opacity 0.15s;
        -o-transition: opacity 0.15s;
        transition: opacity 0.15s;
        width: 100%;
        height: 100%;
        background: transparent;
        opacity: 0; }
        .markdown .highlight .clipboard img:hover {
          opacity: 1 !important; }
      .markdown .highlight .clipboard.active img {
        opacity: 1 !important;
        filter: invert(38%) sepia(92%) saturate(885%) hue-rotate(178deg) brightness(94%) contrast(84%); }
    .markdown .highlight[title] > .title {
      border-bottom: 1px solid #e3e5e8;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      font-size: 13.6px;
      font-weight: bold;
      padding: 6px 1rem;
      background: #f1f2f3; }
    .markdown .highlight[title] > .clipboard {
      top: 6px; }
      .markdown .highlight[title] > .clipboard img {
        opacity: .3; }
    .markdown .highlight[render="true"] > .result {
      border-top: 1px solid #e3e5e8;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      padding: 1rem;
      background: #ffffff; }
      .markdown .highlight[render="true"] > .result > :first-child {
        margin-top: 0 !important; }
        .markdown .highlight[render="true"] > .result > :first-child > :first-child {
          margin-top: 0 !important; }
          .markdown .highlight[render="true"] > .result > :first-child > :first-child > :first-child {
            margin-top: 0 !important; }
            .markdown .highlight[render="true"] > .result > :first-child > :first-child > :first-child > :first-child {
              margin-top: 0 !important; }
      .markdown .highlight[render="true"] > .result > :last-child {
        margin-bottom: 0 !important; }
        .markdown .highlight[render="true"] > .result > :last-child > :last-child {
          margin-bottom: 0 !important; }
          .markdown .highlight[render="true"] > .result > :last-child > :last-child > :last-child {
            margin-bottom: 0 !important; }
            .markdown .highlight[render="true"] > .result > :last-child > :last-child > :last-child > :last-child {
              margin-bottom: 0 !important; }
    .markdown .highlight[compress="true"] > pre {
      max-height: 10rem; }
  .markdown table {
    font-size: 95%;
    border: 1px solid #e3e5e8;
    border-radius: 2px;
    display: block;
    max-width: fit-content;
    margin: 1rem 0;
    border-spacing: 0;
    overflow: auto;
    background: #ffffff;
    -webkit-overflow-scrolling: touch; }
    .markdown table tr {
      -moz-transition: background 0.15s;
      -webkit-transition: background 0.15s;
      -o-transition: background 0.15s;
      transition: background 0.15s; }
      .markdown table tr th, .markdown table tr td {
        font-weight: normal;
        padding: .4rem 1.2rem; }
      .markdown table tr td {
        border-top: 1px solid #e3e5e8; }
      .markdown table tr:hover {
        background: #f9fafa; }
  .markdown img, .markdown svg {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
    .markdown img.md_img, .markdown svg.md_img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      background: inherit; }
  .markdown sup[id^="fnref"] {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    line-height: 0; }
  .markdown .footnotes {
    font-size: 90%; }
    .markdown .footnotes ol {
      margin-top: .5rem; }
      .markdown .footnotes ol li, .markdown .footnotes ol p {
        margin: 5px 0; }
      .markdown .footnotes ol p .footnote-backref {
        opacity: 0; }
      .markdown .footnotes ol p:hover .footnote-backref {
        opacity: 1; }
  .markdown .MathJax_SVG_Display {
    margin: 0;
    overflow: auto hidden; }

.book-details {
  border-left: 4px solid #ccc;
  border-radius: 4px;
  display: block;
  overflow: hidden;
  margin: 1rem 0;
  background: #f1f2f3;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; }
  .book-details summary {
    font-size: 14px;
    font-weight: bold;
    color: #4d4d4d;
    cursor: pointer;
    padding: .3rem .5rem; }
    .book-details summary::marker, .book-details summary::-webkit-details-marker {
      content: "" !important; }
    .book-details summary img {
      -moz-transition: transform 0.2s ease;
      -webkit-transition: transform 0.2s ease;
      -o-transition: transform 0.2s ease;
      transition: transform 0.2s ease;
      vertical-align: bottom;
      float: left;
      width: 19px;
      height: 19px;
      margin-right: 5px; }
  .book-details .inner {
    padding: 1rem;
    background: #ffffff;
    overflow: hidden; }
    .book-details .inner > :first-child {
      margin-top: 0 !important; }
      .book-details .inner > :first-child > :first-child {
        margin-top: 0 !important; }
        .book-details .inner > :first-child > :first-child > :first-child {
          margin-top: 0 !important; }
          .book-details .inner > :first-child > :first-child > :first-child > :first-child {
            margin-top: 0 !important; }
    .book-details .inner > :last-child {
      margin-bottom: 0 !important; }
      .book-details .inner > :last-child > :last-child {
        margin-bottom: 0 !important; }
        .book-details .inner > :last-child > :last-child > :last-child {
          margin-bottom: 0 !important; }
          .book-details .inner > :last-child > :last-child > :last-child > :last-child {
            margin-bottom: 0 !important; }
  .book-details[open] > summary {
    border-bottom: 1px solid #e3e5e8; }
    .book-details[open] > summary img {
      transform: rotate(90deg); }

.columns {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem 0; }
  .columns > .inner {
    flex: auto;
    width: 100%;
    margin: 0 .5rem; }
    .columns > .inner > :first-child {
      margin-top: 0 !important; }
      .columns > .inner > :first-child > :first-child {
        margin-top: 0 !important; }
        .columns > .inner > :first-child > :first-child > :first-child {
          margin-top: 0 !important; }
          .columns > .inner > :first-child > :first-child > :first-child > :first-child {
            margin-top: 0 !important; }
    .columns > .inner > :last-child {
      margin-bottom: 0 !important; }
      .columns > .inner > :last-child > :last-child {
        margin-bottom: 0 !important; }
        .columns > .inner > :last-child > :last-child > :last-child {
          margin-bottom: 0 !important; }
          .columns > .inner > :last-child > :last-child > :last-child > :last-child {
            margin-bottom: 0 !important; }
    .columns > .inner:first-of-type {
      margin-left: 0; }
    .columns > .inner:last-of-type {
      margin-right: 0; }

.book-tabs {
  margin: 1rem 0;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .book-tabs .label {
    font-size: 13px;
    color: #808080;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    padding: .1rem 1rem;
    margin: 0 .25rem;
    margin-bottom: 1.2rem;
    line-height: 2;
    text-align: center;
    white-space: nowrap; }
    .book-tabs .label.disable {
      pointer-events: none;
      padding: .1rem 0; }
    .book-tabs .label:not(.active):hover {
      color: #000;
      background: #e9eaec; }
    .book-tabs .label::after {
      will-change: transform;
      border-radius: 4px;
      content: '';
      pointer-events: none;
      cursor: default;
      height: 2px;
      position: absolute;
      bottom: -.5rem;
      left: -.6rem;
      right: 0;
      background: #e9eaec; }
    .book-tabs .label:first-of-type::after {
      left: 0; }
  .book-tabs .inner {
    order: 999;
    width: 100%;
    display: none; }
    .book-tabs .inner > :first-child {
      margin-top: 0 !important; }
      .book-tabs .inner > :first-child > :first-child {
        margin-top: 0 !important; }
        .book-tabs .inner > :first-child > :first-child > :first-child {
          margin-top: 0 !important; }
          .book-tabs .inner > :first-child > :first-child > :first-child > :first-child {
            margin-top: 0 !important; }
    .book-tabs .inner > :last-child {
      margin-bottom: 0 !important; }
      .book-tabs .inner > :last-child > :last-child {
        margin-bottom: 0 !important; }
        .book-tabs .inner > :last-child > :last-child > :last-child {
          margin-bottom: 0 !important; }
          .book-tabs .inner > :last-child > :last-child > :last-child > :last-child {
            margin-bottom: 0 !important; }
  .book-tabs input[type="radio"] {
    display: none; }
    .book-tabs input[type="radio"]:checked + .label {
      color: #000;
      background: #ffffff;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.04), 0 0 8px 0 rgba(0, 0, 0, 0.04); }
      .book-tabs input[type="radio"]:checked + .label::before {
        will-change: transform;
        border-radius: 4px;
        content: '';
        pointer-events: none;
        cursor: default;
        z-index: 1;
        height: 2px;
        position: absolute;
        bottom: -.5rem;
        left: .5rem;
        right: .5rem;
        background: #1cd0fd; }
      .book-tabs input[type="radio"]:checked + .label + .inner {
        display: block; }
