:root {
  --width-side: 300px;
  --width-main: 720px;
  --border-radius: 4px;
  --bg-site: #f9fafb;
  --bg-line: #1cd0fd;
  --bg-card: #ffffff;
  --bg-blk: #f1f2f3;
  --bg-hov: #e9eaec;
  --bg-border: #e3e5e8;
  --text-p0: #000;
  --text-p1: #333;
  --text-p2: #4d4d4d;
  --text-p3: #808080;
  --text-p4: #999;
  --text-meta: #ccc;
  --text-warn: #f53900;
  --text-code: #66b2ff26;
  --text-link: #2385d5;
  --text-link-hov: #8bc1ec;
  --shdw: 0 0 2px 0 rgba(0,0,0,.04), 0 0 8px 0 rgba(0,0,0,.04);
  --shdw-hov: 0 1px 4px 0 rgba(0,0,0,.1), 0 4px 16px 0 rgba(0,0,0,.1);
  --shdw-bold: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; }

@media (prefers-color-scheme: dark) {
  :root {
    --bg-site: #1c1e21;
    --bg-card: #373d43;
    --bg-blk: #26292c;
    --bg-border: #383d42;
    --bg-hov: #2f3337;
    --text-p0: #fff;
    --text-p1: #ccc;
    --text-p2: #b3b3b3;
    --text-p3: #858585;
    --text-p4: #707070;
    --text-meta: #4d4d4d;
    --text-warn: #ff6333;
    --text-code: #21222c;
    --text-link: #03cafc;
    --text-link-hov: #2385d5; } }

.stellar.note {
  border: 1px solid var(--theme-border);
  border-radius: var(--border-radius);
  margin: 1rem 0;
  padding: .5rem 1rem;
  background: var(--theme-bg2);
  color: var(--text-p1); }
  .stellar.note > :first-child {
    margin-top: 0; }
    .stellar.note > :first-child > :first-child {
      margin-top: 0; }
      .stellar.note > :first-child > :first-child > :first-child {
        margin-top: 0; }
        .stellar.note > :first-child > :first-child > :first-child > :first-child {
          margin-top: 0; }
  .stellar.note > :last-child {
    margin-bottom: 0; }
    .stellar.note > :last-child > :last-child {
      margin-bottom: 0; }
      .stellar.note > :last-child > :last-child > :last-child {
        margin-bottom: 0; }
        .stellar.note > :last-child > :last-child > :last-child > :last-child {
          margin-bottom: 0; }
  .stellar.note > .title {
    font-size: 15px;
    margin-bottom: .5rem; }
  .stellar.note > .inner {
    font-size: 95%; }
    .stellar.note > .inner code {
      background: var(--theme-bg1); }

.stellar.mark {
  padding: 0 1px;
  border-radius: 2px;
  background: var(--theme-bg2);
  border: 1px solid var(--theme-border);
  color: var(--text-p0); }

.stellar.tag {
  -moz-transition: background 0.2s, color 0.2s;
  -webkit-transition: background 0.2s, color 0.2s;
  -o-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
  padding: 0 4px;
  border-radius: 2px;
  background: var(--theme-bg1);
  color: var(--text-p2);
  margin: 2px 0;
  display: inline-block;
  font-size: .875rem; }
  .stellar.tag:hover {
    background: var(--text-p2);
    color: var(--theme-bg1); }

.stellar.copy-area {
  display: flex;
  margin: 1rem 0; }
  .stellar.copy-area pre {
    border: 1px solid var(--bg-border);
    border-radius: 4px !important;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    padding: 3px .5rem;
    margin: 0;
    background: var(--bg-blk);
    position: relative; }
    .stellar.copy-area pre code {
      display: block;
      color: var(--text-p0);
      overflow: auto;
      margin: 0 2rem 0 .2rem; }
      .stellar.copy-area pre code::-webkit-scrollbar {
        height: 0;
        width: 0; }
    .stellar.copy-area pre .clipboard {
      border-left: 1px solid var(--bg-border);
      -moz-transition: background, 0.1s;
      -webkit-transition: background, 0.1s;
      -o-transition: background, 0.1s;
      transition: background, 0.1s;
      display: flex;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      padding: 0 .3rem;
      background: var(--bg-hov);
      align-items: center; }
      .stellar.copy-area pre .clipboard img {
        width: 1.2rem;
        height: 1.2rem;
        opacity: 1 !important; }
      .stellar.copy-area pre .clipboard:hover, .stellar.copy-area pre .clipboard.active {
        background: var(--bg-card); }

.stellar.radio-box input[type=radio] {
  border-radius: 50%;
  border: 2px solid var(--text-link);
  pointer-events: none;
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  appearance: none;
  position: relative;
  vertical-align: -3px; }
  .stellar.radio-box input[type=radio][checked=true]::before {
    border-radius: 50%;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    scale: 70%;
    background: var(--text-link); }

.stellar.check-box input[type=radio] {
  border-radius: 2px;
  border: 2px solid var(--theme);
  pointer-events: none;
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  appearance: none;
  position: relative;
  vertical-align: -3px; }
  .stellar.check-box input[type=radio][checked=true]::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--theme);
    background-image: url("/img/checkbox/check.svg");
    background-size: cover; }
  .stellar.check-box input[type=radio][checked=true][symbol=check]::before {
    background-image: url("/img/checkbox/check.svg"); }
  .stellar.check-box input[type=radio][checked=true][symbol=plus]::before {
    background-image: url("/img/checkbox/plus.svg"); }
  .stellar.check-box input[type=radio][checked=true][symbol=minus]::before {
    background-image: url("/img/checkbox/minus.svg"); }
  .stellar.check-box input[type=radio][checked=true][symbol=times]::before {
    background-image: url("/img/checkbox/times.svg"); }

.stellar.folding {
  border: 1px solid var(--theme-border);
  border-radius: var(--border-radius);
  background: var(--theme-bg2);
  margin: 1rem 0; }
  .stellar.folding > summary {
    font-size: 13.6px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    color: var(--text-p1);
    padding: .5rem; }
    .stellar.folding > summary > img {
      width: 20px;
      height: 20px;
      margin-right: .25rem; }
      .stellar.folding > summary > img.arrow {
        -moz-transition: transform 0.15s ease;
        -webkit-transition: transform 0.15s ease;
        -o-transition: transform 0.15s ease;
        transition: transform 0.15s ease; }
  .stellar.folding > .body {
    font-size: 95%;
    padding: 1rem;
    padding-top: .5rem; }
    .stellar.folding > .body > :first-child {
      margin-top: 0; }
      .stellar.folding > .body > :first-child > :first-child {
        margin-top: 0; }
        .stellar.folding > .body > :first-child > :first-child > :first-child {
          margin-top: 0; }
          .stellar.folding > .body > :first-child > :first-child > :first-child > :first-child {
            margin-top: 0; }
    .stellar.folding > .body > :last-child {
      margin-bottom: 0; }
      .stellar.folding > .body > :last-child > :last-child {
        margin-bottom: 0; }
        .stellar.folding > .body > :last-child > :last-child > :last-child {
          margin-bottom: 0; }
          .stellar.folding > .body > :last-child > :last-child > :last-child > :last-child {
            margin-bottom: 0; }
    .stellar.folding > .body code {
      background: var(--theme-bg1); }
    .stellar.folding > .body > .highlight {
      border: 1px solid var(--theme-border); }
  .stellar.folding[open] > summary > img.arrow {
    transform: rotate(90deg); }

.stellar.poetry {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .stellar.poetry > .inner {
    padding-left: 1rem;
    position: relative; }
    .stellar.poetry > .inner::before {
      content: '';
      position: absolute;
      width: 4px;
      left: -4px;
      top: 4px;
      bottom: 4px;
      border-radius: 4px;
      background: var(--bg-blk); }
    .stellar.poetry > .inner > .title {
      padding-top: .75rem;
      position: relative; }
      .stellar.poetry > .inner > .title::before {
        content: '';
        position: absolute;
        width: 4px;
        left: calc(-1rem - 4px);
        top: calc(4px + .75rem);
        bottom: 4px;
        border-radius: 4px;
        background: #ff5724; }
    .stellar.poetry > .inner > .meta {
      font-size: 13px;
      color: var(--text-p2);
      margin-top: 4px; }
    .stellar.poetry > .inner > .body {
      border-top: 1px dashed var(--bg-border);
      border-bottom: 1px dashed var(--bg-border);
      margin: .75rem 0;
      padding: .5rem 0; }
      .stellar.poetry > .inner > .body > :first-child {
        margin-top: 0; }
        .stellar.poetry > .inner > .body > :first-child > :first-child {
          margin-top: 0; }
          .stellar.poetry > .inner > .body > :first-child > :first-child > :first-child {
            margin-top: 0; }
            .stellar.poetry > .inner > .body > :first-child > :first-child > :first-child > :first-child {
              margin-top: 0; }
      .stellar.poetry > .inner > .body > :last-child {
        margin-bottom: 0; }
        .stellar.poetry > .inner > .body > :last-child > :last-child {
          margin-bottom: 0; }
          .stellar.poetry > .inner > .body > :last-child > :last-child > :last-child {
            margin-bottom: 0; }
            .stellar.poetry > .inner > .body > :last-child > :last-child > :last-child > :last-child {
              margin-bottom: 0; }
      .stellar.poetry > .inner > .body p {
        font-size: 14px;
        margin: 5px 0; }
    .stellar.poetry > .inner > .footer {
      font-size: 13px;
      font-style: italic;
      color: var(--text-p3);
      padding-bottom: .75rem; }

.stellar {
  --theme: #333;
  --theme-bg1: #e3e3e3;
  --theme-bg2: #f1f2f3;
  --theme-border: #dfe1e4;
  --text-p0: #000;
  --text-p1: #333;
  --text-p2: #4d4d4d; }

.stellar.check-box[color=""] {
  --theme: #2196f3; }

.stellar[color=red] {
  --theme: #f44336;
  --theme-bg1: #fcd2cf;
  --theme-bg2: #fce9e8;
  --theme-border: #e6b6b3;
  --text-p0: #3f1512;
  --text-p1: #4f1b17;
  --text-p2: #740e06; }

.stellar[color=orange] {
  --theme: #fa6400;
  --theme-bg1: #fce1cf;
  --theme-bg2: #fcf0e8;
  --theme-border: #e6c7b3;
  --text-p0: #3f2412;
  --text-p1: #4f2d17;
  --text-p2: #743206; }

.stellar[color=yellow] {
  --theme: #ffbd2b;
  --theme-bg1: #fceecf;
  --theme-bg2: #fcf6e8;
  --theme-border: #e6d6b3;
  --text-p0: #3f3112;
  --text-p1: #4f3e17;
  --text-p2: #745206; }

.stellar[color=green] {
  --theme: #3dc550;
  --theme-bg1: #cffcd5;
  --theme-bg2: #e8fceb;
  --theme-border: #b3e6ba;
  --text-p0: #123f19;
  --text-p1: #174f1f;
  --text-p2: #067416; }

.stellar[color=cyan] {
  --theme: #1bcdfc;
  --theme-bg1: #cff3fc;
  --theme-bg2: #e8f8fc;
  --theme-border: #b3dbe6;
  --text-p0: #12363f;
  --text-p1: #17434f;
  --text-p2: #065d74; }

.stellar[color=blue] {
  --theme: #2196f3;
  --theme-bg1: #cfe8fc;
  --theme-bg2: #e8f3fc;
  --theme-border: #b3cfe6;
  --text-p0: #122b3f;
  --text-p1: #17364f;
  --text-p2: #064374; }

.stellar[color=purple] {
  --theme: #9c27b0;
  --theme-bg1: #f6cffc;
  --theme-bg2: #f9e8fc;
  --theme-border: #deb3e6;
  --text-p0: #39123f;
  --text-p1: #47174f;
  --text-p2: #640674; }

.stellar[color=light] {
  --theme-bg1: #e0e0e0;
  --theme-bg2: #fff;
  --text-p0: #000;
  --text-p1: #111;
  --text-p2: #1f1f1f;
  --text-p3: #555;
  --text-code: #000; }

.stellar[color=dark] {
  --theme-bg1: #1f1f1f;
  --theme-bg2: #333;
  --theme-border: #000;
  --text-p0: #fff;
  --text-p1: #fff;
  --text-p2: #e0e0e0;
  --text-p3: #ddd;
  --text-code: #fff; }

.stellar[color=warning] {
  --theme: #ffbd2b;
  --theme-border: #ffe659;
  --theme-bg1: #fff4b7;
  --theme-bg2: #ffed8a;
  --theme-link: #ff453a; }

.stellar[color=error] {
  --theme: #ffbd2b;
  --theme-border: #ff453a;
  --theme-bg1: #ff6159;
  --theme-bg2: #ff453a;
  --theme-link: #ffe659;
  --text-p0: #fff;
  --text-p1: #fff;
  --text-p2: #e0e0e0;
  --text-p3: #ddd;
  --text-code: #fff; }

@media (prefers-color-scheme: dark) {
  .stellar {
    --theme:#1cd0fd;
    --theme-bg1: #14353d;
    --theme-bg2: #222d2f;
    --theme-border: #1f505c;
    --text-p0: #b3f0ff;
    --text-p1: #9fd2df;
    --text-p2: #7edaf1
    ; }
  .stellar[color=red] {
    --theme: #f44336;
    --theme-bg1: #3d1714;
    --theme-bg2: #2f2322;
    --theme-border: #5c231f;
    --text-p0: #ffb8b3;
    --text-p1: #dfa49f;
    --text-p2: #f1867e
    ; }
  .stellar[color=orange] {
    --theme: #fa6400;
    --theme-bg1: #3d2514;
    --theme-bg2: #2f2722;
    --theme-border: #5c371f;
    --text-p0: #ffd1b3;
    --text-p1: #dfb99f;
    --text-p2: #f1ac7e
    ; }
  .stellar[color=yellow] {
    --theme: #ffbd2b;
    --theme-bg1: #3d3014;
    --theme-bg2: #2f2b22;
    --theme-border: #5c491f;
    --text-p0: #ffe7b3;
    --text-p1: #dfcb9f;
    --text-p2: #f1cd7e
    ; }
  .stellar[color=green] {
    --theme: #3dc550;
    --theme-bg1: #143d1a;
    --theme-bg2: #222f24;
    --theme-border: #1f5c27;
    --text-p0: #b3ffbd;
    --text-p1: #9fdfa8;
    --text-p2: #7ef18e
    ; }
  .stellar[color=cyan] {
    --theme: #1bcdfc;
    --theme-bg1: #14353d;
    --theme-bg2: #222d2f;
    --theme-border: #1f4f5c;
    --text-p0: #b3efff;
    --text-p1: #9fd2df;
    --text-p2: #7ed9f1
    ; }
  .stellar[color=blue] {
    --theme: #2196f3;
    --theme-bg1: #142b3d;
    --theme-bg2: #222a2f;
    --theme-border: #1f415c;
    --text-p0: #b3ddff;
    --text-p1: #9fc3df;
    --text-p2: #7ebef1
    ; }
  .stellar[color=purple] {
    --theme: #9c27b0;
    --theme-bg1: #37143d;
    --theme-bg2: #2d222f;
    --theme-border: #531f5c;
    --text-p0: #f4b3ff;
    --text-p1: #d69fdf;
    --text-p2: #e07ef1
    ; }
  .stellar[color=light] {
    --theme-border: #fff;
    --theme-bg1: #e0e0e0;
    --theme-bg2: #fff;
    --text-p0: #000;
    --text-p1: #111;
    --text-p2: #1f1f1f;
    --text-p3: #555;
    --text-code: #fff
    ; }
  .stellar[color=dark] {
    --theme-border: #000;
    --theme-bg1: #1f1f1f;
    --theme-bg2: #111;
    --text-p0: #fff;
    --text-p1: #fff;
    --text-p2: #e0e0e0;
    --text-p3: #ddd;
    --text-code: #fff
    ; }
  .stellar[color=light], .stellar[color=warning] {
    --text-p0: #000;
    --text-p1: #111;
    --text-p2: #1f1f1f;
    --text-p3: #555;
    --text-code: #fff
    ; } }
